extends layout

block content
  .container.mt-4
    h1.mb-4 Containers
    if containers.length
      table.table.table-bordered
        thead.thead-dark
          tr
            th Display Name
            th Container Type ID
            th Created
            th Storage Used
            th Ownership Type
            th Actions
        tbody
          each container in containers
            tr
              td
                a(href=`/files/list/${container.id}`)= container.displayName
              td= container.containerTypeId
              td= container.createdDateTime
              td= container.storageUsedInBytes
              td= container.ownershipType
              td
                a.btn.btn-info(href=`/containers/perms/${container.id}`) View Perms &nbsp;
                a.btn.btn-info(href=`/containers/grant-container/${container.id}`) Grant Perms
                a.btn.btn-info(href=`/metadata/list/${container.id}`) Metadata Columns
                a(href='/containers/delete/' + container.id onclick="return confirm('Are you sure?');" class="btn btn-danger") Delete
    else
      .alert.alert-info.mb-3 No containers found.

    p.mb-3
      a(href=`/containers/create` class="btn btn-primary") Create Container



  
