extends layout

block content
  .container.mt-4
    h1.mb-4 Containers
    if value.length
      table.table.table-bordered
        thead.thead-dark
          tr
            th Display Name
            th Container Type ID
            th Created
            th Storage Used
            th Ownership Type
            th Actions
        tbody
          each container in value
            tr
              td
                a(href=`/files/list/${container.id}`)= container.displayName
              td= container.containerTypeId
              td= container.createdDateTime
              td= container.storageUsedInBytes
              td= container.ownershipType
              td
                a.btn.btn-info(href=`/containers/perms/${container.id}`) View Perms &nbsp;
                a.btn.btn-info(href=`/containers/grant-container/${container.id}`) Grant Perms
    else
      .alert.alert-info.mb-3 No containers found.

    p.mb-3
      a(href=`/containers/create` class="btn btn-primary") Create Container

  // Display raw JSON for item
  h2 Raw JSON Files and Folders List
  pre= JSON.stringify(value, null, 2)
