extends layout 

block content 
  .container.mt-4
    h1.mb-4 Containers
    if value.length
      table.table.table-bordered
        thead.thead-dark
          tr
            th Display Name
            th Container Type ID
            th Created
            th Storage Used
            th Ownership Type
        tbody
          each container in value
            tr
              td
                a(href=`/files/list/${container.id}`)= container.displayName
              td= container.containerTypeId
              td= container.createdDateTime
              td= container.storageUsedInBytes
              td= container.ownershipType
    else
      .alert.alert-info.mb-3 No containers found.
    p.mb-3
      a(href=`/containers/create` class="btn btn-primary") Create Container
