extends layout

block content
  .container.mt-4
    h1.mb-4 Containers

    if containers.length
      // Card-based layout for better mobile responsiveness
      .row
        each container in containers
          .col-12.mb-4
            .card.shadow-sm
              .card-body
                h5.card-title
                  a(href=`/files/list/${container.id}`)= container.displayName
                p.card-text
                  strong Container Type ID: 
                  | #{container.containerTypeId}
                  br
                  strong Created: 
                  | #{container.createdDateTime}
                  br
                  strong Storage Used: 
                  | #{container.storageUsedInBytes} bytes
                  br
                  strong Ownership Type: 
                  | #{container.ownershipType}

                // Button group for actions, styled for mobile
                .d-flex.flex-wrap.mt-3
                  a.btn.btn-info.btn-sm.mb-1.me-1(href=`/containers/drive/${container.id}`) Drive Properties
                  a.btn.btn-info.btn-sm.mb-1.me-1(href=`/containers/perms/${container.id}`) View Perms
                  a.btn.btn-info.btn-sm.mb-1.me-1(href=`/containers/grant-container/${container.id}`) Grant Perms
                  a.btn.btn-info.btn-sm.mb-1.me-1(href=`/metadata/list/${container.id}`) Metadata Columns
                  a.btn.btn-info.btn-sm.mb-1.me-1(href=`/metadata/property_add/${container.id}`) Set Property
                  a.btn.btn-info.btn-sm.mb-1.me-1(href=`/metadata/properties/${container.id}`) List Properties
                  a(href='/containers/delete/' + container.id onclick="return confirm('Are you sure?');" class="btn btn-danger btn-sm mb-1 me-1") Delete

    else
      .alert.alert-info.mb-3 No containers found.

    p.mb-3
      a(href=`/containers/create` class="btn btn-primary") Create Container
