extends layout

block content
    h1.h3.text-center.mt-4 Files and Folders List 

    p.text-center.mb-3
      a(href='/files/upload' class="btn btn-success mb-2") Upload
      a(href='/files/upload-session' class="btn btn-success mb-2") Upload with Create Upload Session
      a(href='/files/create-folder' class="btn btn-success mb-2") Create Folder
      a(href='/files/upload-multiple' class="btn btn-success mb-2") Upload Multiple Files

    if items && items.length > 0
      .row
        each item in items
          .col-12.p-2
            .card.shadow-sm
              .card-body
                h5.card-title
                  if item['@microsoft.graph.downloadUrl']
                    a(href=item['@microsoft.graph.downloadUrl'])= item.name
                  else if item.folder
                    a(href='/files/list/' + item.parentReference.driveId + '/' + item.id)= item.name
                  else
                    | #{item.name}
                p.card-text
                  strong Type: 
                  | #{item['@microsoft.graph.downloadUrl'] ? 'File' : 'Folder'}
                  br
                  strong Created By: 
                  | #{item.createdBy.user.displayName}
                  br
                  strong Created Date: 
                  | #{item.createdDateTime}

                .d-flex.flex-wrap.mt-2
                  - var isOfficeFormat = /\.(docx|xlsx|pptx)$/.test(item.name);
                  if isOfficeFormat
                    a.btn.btn-primary.btn-sm.mb-1.me-1(href='/files/edit/' + item.id, target="_blank") Edit
                  a.btn.btn-primary.btn-sm.mb-1.me-1(href='/files/preview/' + item.id, target="_blank") Preview
                  a.btn.btn-primary.btn-sm.mb-1.me-1(href='/files/previewiframe/' + item.id, target="_blank") iFrame
                  a.btn.btn-primary.btn-sm.mb-1.me-1(href='/files/versions/' + item.id, target="_blank") Versions
                  a.btn.btn-primary.btn-sm.mb-1.me-1(href='/files/pdf/' + item.id, target="_blank") PDF ME
                  a.btn.btn-info.btn-sm.mb-1.me-1(href=item.webUrl target="_blank") Open
                  a.btn.btn-info.btn-sm.mb-1.me-1(href='/files/perms/' + item.id) Perms
                  a.btn.btn-info.btn-sm.mb-1.me-1(href='/files/grant-invite/' + item.id) Invite
                  a.btn.btn-info.btn-sm.mb-1.me-1(href='/files/create-link/' + item.id) Link
                  a.btn.btn-info.btn-sm.mb-1.me-1(href='/files/fields/' + item.id) Fields
                  a.btn.btn-danger.btn-sm.mb-1.me-1(href='/files/delete/' + item.id onclick="return confirm('Are you sure?');") Delete

    else
      .alert.alert-info.mb-3 No items found.

    p.text-center.mb-3 
      a(href='/files/create-new' class="btn btn-success mb-3") Create and edit new blank Word, Excel, or PowerPoint document.
