extends layout

block content
  .container.mt-4
    h1 Files and Folders List 
    if items && items.length > 0
      table.table.table-bordered
        thead.thead-dark
          tr
            th Name
            th Type
            th Created By
            th Created Date Time
            th Actions 
        tbody
          each item in items
            tr
              td
                if item['@microsoft.graph.downloadUrl']
                  a(href=item['@microsoft.graph.downloadUrl'])= item.name
                else if item.folder
                  a(href='/files/list/' + item.parentReference.driveId + '/' + item.id)= item.name
                else
                  | #{item.name}
              td= item['@microsoft.graph.downloadUrl'] ? 'File' : 'Folder'
              td= item.createdBy.user.displayName
              td= item.createdDateTime
              td
                - var isOfficeFormat = /\.(docx|xlsx|pptx)$/.test(item.name);
                if isOfficeFormat
                  a(href=`/files/edit/${item.id}`, target="_blank" class="btn btn-primary") Edit
                else if item['@microsoft.graph.downloadUrl']
                  a(href=`/files/preview/${item.id}`, target="_blank" class="btn btn-primary") Download
                | &nbsp;
                a(href=`/files/preview/${item.id}`, target="_blank" class="btn btn-primary") Preview
                | &nbsp;
                a(href=`${item.webUrl}` target="_blank" class="btn btn-info") Open
                | &nbsp;
                a(href=`/files/perms/${item.id}` class="btn btn-info") Perms
                | &nbsp;
                a(href=`/files/grant-invite/${item.id}` class="btn btn-info") Invite
                | &nbsp;
                a(href=`/files/create-link/${item.id}` class="btn btn-info") Link
                | &nbsp;
                a(href=`/files/fields/${item.id}` class="btn btn-info") Fields
                | &nbsp;
                a(href='/files/delete/' + item.id onclick="return confirm('Are you sure?');" class="btn btn-danger") Delete


    else
      .alert.alert-info.mb-3 No items found.

  p.mb-3
    a(href=`/files/upload` class="btn btn-success") Upload

  p.mb-3
    a(href=`/files/upload-session` class="btn btn-success") Upload with Create Upload Session

  p.mb-3 
    a(href=`/files/create-new` class="btn btn-success") Create and edit new blank Word, Excel, or PowerPoint document.



