doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if username
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/') SPE Playground
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          ul.navbar-nav
            li.nav-item
              a.nav-link(href='/containers/') Containers
            li.nav-item
              a.nav-link(href='/search/') Search
            li.nav-item
              a.nav-link(href='/signout/') Sign Out (#{username})
    else
      p Visit 
        a(href='https://aka.ms/start-spe') aka.ms/start-spe 
        |  to learn more about SharePoint Embedded

    // Message display section
    if message
      .alert.alert-info
        | #{message}

    .container.mt-4
      block content
    
    // Details section with toggle button
    if orig_url || orig_body || orig_results
      button#toggleButton.btn.btn-success.fixed-bottom(type='button', data-toggle='collapse', data-target='#detailsSection', aria-expanded='false', aria-controls='detailsSection') Show API Details
      .collapse#detailsSection
        p.mt-4.mb-3.font-weight-bold API Details
        if orig_url
          p.mb-2.font-weight-bold URL 
          pre #{orig_url}
        if orig_body 
          p.mb-2.font-weight-bold Body 
          pre= JSON.stringify(orig_body, null, 2)
        if orig_results 
          p.mb-2.font-weight-bold Results 
          pre= JSON.stringify(orig_results, null, 2)
        if orig_req_id 
          p.mb-2.font-weight-bold Request ID 
          pre #{orig_req_id}
    else
      button.btn.btn-secondary.disabled.fixed-bottom(type='button') No Details Available

    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')
    script.
      $(document).ready(function() {
        $('#detailsSection').on('show.bs.collapse', function () {
          $('html, body').animate({ scrollTop: 0 }, 'fast');
          $('#toggleButton').text('Hide API Details');
        }).on('hide.bs.collapse', function () {
          $('#toggleButton').text('Show API Details');
        });
      });
