extends layout

block content
  .container.mt-4
    h1 Search Results

    p Search Type: #{searchType}

    if results && results.length > 0
      each searchResult in results
        if searchResult.searchTerms && searchResult.searchTerms.length > 0
          each searchTerm in searchResult.searchTerms
            p Search Term: #{searchTerm}
        if searchResult.hitsContainers && searchResult.hitsContainers.length > 0
          each hitsContainer in searchResult.hitsContainers
            if hitsContainer.hits && hitsContainer.hits.length > 0
              .list-group
                each hit in hitsContainer.hits
                  .list-group-item
                    h5.list-group-item-heading 
                      if searchType === 'DriveItem'
                        a(href='/files/preview/' + hit.resource.parentReference.driveId + '/' + hit.resource.id)= hit.resource.name
                        p.list-group-item-text Summary: #{hit.summary}
                      else if searchType === 'Drive'
                        a(href='/files/list/' + hit.resource.id )= hit.resource.name 
                        p.list-group-item-text Summary: #{hit.summary}
                    
            else
              p No hits found.
        else
          p No hit containers found.
    else
      p No results found.
